{% if user.is_authenticated %}
    {% for post in posts %}
        <div class="row row-cols-1 row-cols-md-4 g-4 mx-4 justify-content-between">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content }}</p>
                    </div>
                    <a href="#" class="nav-link">Читать полностью</a>
                    <div class="card-footer">
                        <small class="text-muted">Последнее обновление 3 мин. назад</small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}