    <div class="btn-group text-center mb-3" role="group" aria-label="Группа кнопок с вложенным раскрывающимся списком">
        <button type="button" class="btn btn-secondary">Все задачи</button>
        <div class="btn-group mx-2" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Фильтр задач
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" href="#">Важные задачи</a></li>
            <li><a class="dropdown-item" href="#">Средние задачи</a></li>
            <li><a class="dropdown-item" href="#">Незначительные задачи</a></li>
        </ul>
    </div>
  </div>